# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\iot_03\IOT_03\Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
